[submodule "ProjetoIA-Python"]
	path = ProjetoIA-Python
	url = https://github.com/4DeskGroup/ProjetoIA-Python.git
[submodule "Frontend-IA"]
	path = Frontend-IA
	url = https://github.com/4DeskGroup/Frontend-IA.git
[submodule "Dataset"]
	path = Dataset
	url = https://github.com/4DeskGroup/Dataset.git
